<div class="dashboard">
    <header class="dashboard-header">
        <p-button icon="pi pi-bars" (click)="sidebarVisible = true"></p-button>
        <h1>Graph Examples</h1>
    </header>

    <p-sidebar [(visible)]="sidebarVisible">
        <p-menu [model]="menuItems"></p-menu>
    </p-sidebar>

    <main class="dashboard-content">
        <app-d3-force-directed-graph *ngIf="showGraph.d3"></app-d3-force-directed-graph>
        <app-p5-force-directed-graph *ngIf="showGraph.p5"></app-p5-force-directed-graph>
    </main>
</div>
